.logo{
    width: 100px;
    height: 100px;
    background-image: url(../../img/precise-logo.png);
    background-position: center center;
    background-size: cover;

}

.logo:hover{
    transform: scale(1.05);
    transition: .5s ease all;
}

.logo:not(:hover){
    transition: 1s ease all;
}