.nav-items ul{
    display: flex;
    margin-left: 50px;
    background-color: yellow;
}


.nav-items ul li{
    display: inline-block;
    list-style-type: none;
    margin: 0 25px;
    cursor: pointer;
}


.nav-items ul li:hover{
    transform: scale(1.5);
    transition: .5s ease all;
}


.nav-items ul li:not(:hover){
    transition: .2s ease all;
}
