.track {
    position: relative;
    width: 300px;
    height: 500px;
    background-color: blue;
    border: 1px red solid;
}

.track h1{
    color: white;
}





/* .track:hover{
    transform: scale(0.9);
    transition: .5s ease all;
}

.track:not(:hover){
    transition: .2s ease all;
} */

.track img {
    width: 130px;
    height: 200px;
    object-fit: cover;
}

.book-info{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.book-info p{
    color: white;
    padding-left: 30px;
}